
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/css/Style.css">
    <link rel="shortcut icon" href="~/images/gears.ico">

</head>

<body>

    <h1>Rob's Creation</h1>
    <hr />

    <nav>
        @Html.ActionLink("Home", "Index", "Home")
        @Html.ActionLink("About Us", "About", "Home")
        @Html.ActionLink("Contact Us", "Contact", "Home")

        @Html.ActionLink("Add Student", "Index", "Student")

    </nav>

    <hr />

    <main>
        @RenderBody()
    </main>

    <hr />

    <footer>
        <h3>
            &copy; Robert Wood Jr. || July 1, 2018
        </h3>
    </footer>
</body>

</html>
